.cata_content{
    display: flex;
    flex-direction: column;
    .cata_title{
        display: block;
        width: 100PX;
        height: 48PX;
        line-height: 48PX;
        text-align: center;
        font-size: 14PX;
        &.active{
            color: red;
        }
    }
}