.top{
    background: red;
    .img{
        width: 28PX;
        height: 28PX;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .right{
        .img{
            margin-right: 15PX;
        }
    }
    .left{
        .img{
            margin-left: 15PX;
        }
    }
}